<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- PAGE TITLE HERE -->
    <title></title>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" /> -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/5.4.0/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- Bootstrap CSS -->
    <!--  <link href='<?php echo base_url();?>assets/main.css' rel='stylesheet' />
<script src='<?php echo base_url();?>assets/main.js'></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- FAVICONS ICON -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="/assets/images/favicon.png"
    />
    <link
      href="/assets/vendor/jquery-nice-select/css/nice-select.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/owl-carousel/owl.carousel.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/datatables/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/vendor/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="/assets/vendor/select2/css/select2.min.css" />
    <style>
      /* Add CSS styles for the flash message */
      #flash-message {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
      }
    </style>
    <!-- Style css -->
    <link href="/assets/css/style.css" rel="stylesheet" />

    <!-- <link href='<?php echo base_url();?>assets/main.css' rel='stylesheet' /> -->

    <!-- calendar -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"
    />
  </head>
  <body data-sidebar-position="fixed">
 
    <div id="main-wrapper">
      <% if (messages.error) { %>
      <div class="alert alert-danger" id="flash-message">
        <%= messages.error %>
      </div>
      <% } else if (messages.success) { %>
      <div class="alert alert-success" id="flash-message">
        <%= messages.success %>
      </div>
      <% } %>
      <div class="header-content">
        <div class="nav-header">
          <!-- <a href="<?php echo base_url(); ?>" class="brand-logo"> -->
          <a href="" class="brand-logo">
            <img src="/assets/images/favicon.png" alt="" style="height: 100%" />
          </a>
          <div class="nav-control">
            <div class="hamburger">
              <span class="line"></span><span class="line"></span
              ><span class="line"></span>
            </div>
          </div>
        </div>
        <header id="header" class="header fixed-top d-flex align-items-center">

          <div class="d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center" style="text-decoration: none;" >
              <img src="/assets/images/favicon.png" alt="">
              <span class="d-none d-lg-block">Nightingale Care</span>
            </a>
            <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
          </div><!-- End Logo -->
      
       
      
          <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
      
              <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                  <!-- <i class="bi bi-search"></i> -->
                </a>
              </li><!-- End Search Icon-->
      
             
      
              <li class="nav-item dropdown pe-3">
      
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                  <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                  <span class="d-none d-md-block dropdown-toggle ps-2">Nightingale</span>
                </a><!-- End Profile Iamge Icon -->
      
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                  <!-- <li class="dropdown-header">
                    <h6>Kevin Anderson</h6>
                    <span>Web Designer</span>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li> -->
      
                  <!-- <li>
                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                      <i class="bi bi-person"></i>
                      <span>My Profile</span>
                    </a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li> -->
      
                 
      
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/">
                      <i class="bi bi-box-arrow-right"></i>
                      <span>Sign Out</span>
                    </a>
                  </li>
      
                </ul><!-- End Profile Dropdown Items -->
              </li><!-- End Profile Nav -->
      
            </ul>
          </nav><!-- End Icons Navigation -->
      
        </header>
        

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var flashMessage = document.getElementById("flash-message");

          // Check if the flash message element exists
          if (flashMessage) {
            // Automatically hide the flash message after 5 seconds
            setTimeout(function () {
              flashMessage.style.display = "none";
            }, 5000);
          }
        });
      </script>
    </div>
  </body>
</html>
