
<%- include( '../main/header.ejs' ) %>
<%- include( '../main/adminsidebar.ejs' ) %>
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row ">
                                    
                                    <div class="col-xl-6 col-xxl-5 col-sm-5 sm-mt-auto mt-2">
                                        <a href="/m_admin/clientAdd" class="btn btn-primary btn-rounded">Client Registration</a>
                                    </div>
                                </div>
                            </div>
                             
                        </div>
                    </div>
                    
        </div>	
    </div>
</div>
</div>
</div>


<%- include( '../main/footer.ejs' ) %>

